# Front-end project level ignores
/node_modules/
/.next/
/tsconfig.tsbuildinfo
/coverage/

# Environment files
.env*
!.env.example
!.env.test*

# Development and logs
.DS_Store
*.log
/logs/
/report.junit.xml
*.junit.xml

# E2E test mock DB
.e2e-db.json
