# Workspace level ignores
/node_modules/
/front-end/node_modules/
*.tsbuildinfo

# Environment and logs
.env*
!.env.example
!.env.ci
/*.log
/logs/
/coverage/

# OS and Editor files
.DS_Store
.vscode/
.idea/
*.junit.xml

# Supabase backend ignores
supabase/.temp/

.vercel
.env*
